FoodOrderingBuddy.Solution/FoodOrderingBuddy.Mvc/Service References/NotifyMeService/NotifyMeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotifyMeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3793/NotifyMeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3793/NotifyMeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3793/NotifyMeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NotifyMeService.Wcf.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotifyMeService_NotifymeThankyoubyEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifymeThankyoubyEmail" />
  </wsdl:message>
  <wsdl:message name="INotifyMeService_NotifymeThankyoubyEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifymeThankyoubyEmailResponse" />
  </wsdl:message>
  <wsdl:message name="INotifyMeService_PingmePleasebySms_InputMessage">
    <wsdl:part name="parameters" element="tns:PingmePleasebySms" />
  </wsdl:message>
  <wsdl:message name="INotifyMeService_PingmePleasebySms_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingmePleasebySmsResponse" />
  </wsdl:message>
  <wsdl:portType name="INotifyMeService">
    <wsdl:operation name="NotifymeThankyoubyEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/INotifyMeService/NotifymeThankyoubyEmail" message="tns:INotifyMeService_NotifymeThankyoubyEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotifyMeService/NotifymeThankyoubyEmailResponse" message="tns:INotifyMeService_NotifymeThankyoubyEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PingmePleasebySms">
      <wsdl:input wsaw:Action="http://tempuri.org/INotifyMeService/PingmePleasebySms" message="tns:INotifyMeService_PingmePleasebySms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotifyMeService/PingmePleasebySmsResponse" message="tns:INotifyMeService_PingmePleasebySms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotifyMeService" type="tns:INotifyMeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotifymeThankyoubyEmail">
      <soap:operation soapAction="http://tempuri.org/INotifyMeService/NotifymeThankyoubyEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingmePleasebySms">
      <soap:operation soapAction="http://tempuri.org/INotifyMeService/PingmePleasebySms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotifyMeService">
    <wsdl:port name="BasicHttpBinding_INotifyMeService" binding="tns:BasicHttpBinding_INotifyMeService">
      <soap:address location="http://localhost:3793/NotifyMeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>