FoodOrderingBuddy.Solution/FoodOrderingBuddy.Mvc/Service References/NotifyMeService/NotifyMeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3793/NotifyMeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NotifyMeService.Wcf.DataContracts" />
  <xs:element name="NotifymeThankyoubyEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NotifyMeService.Wcf.DataContracts" minOccurs="0" name="emailRequest" nillable="true" type="q1:EmailRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifymeThankyoubyEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NotifyMeService.Wcf.DataContracts" minOccurs="0" name="NotifymeThankyoubyEmailResult" nillable="true" type="q2:EmailResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingmePleasebySms">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NotifyMeService.Wcf.DataContracts" minOccurs="0" name="smsRequest" nillable="true" type="q3:SmsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingmePleasebySmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NotifyMeService.Wcf.DataContracts" minOccurs="0" name="PingmePleasebySmsResult" nillable="true" type="q4:SmsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>